<h3 class="card-title">Upload</h3>
<div class="upload-description-container flex-column">
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="uploadTitle"
      required
      placeholder="Title">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="uploadBody"
      placeholder="Body">
  </mat-form-field>
</div>
<p class="card-subtitle">Click on choose to select the files</p>
<div class="mat-elevation-z4">
  <p-fileUpload #fileUpload name="files[]" customUpload="true"
                (uploadHandler)="onUploadClick($event)"
                multiple="multiple" maxFileSize="1000000"
                [showUploadButton]="isUploadDetailsValid()">
  </p-fileUpload>

</div>
