.upload-description-container {
  margin: 0;
}

.choose-files-message {
  margin-top: 30px;
  font-size: 0.9rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  margin: 10px;
}
