.sidenav-header{
  margin: 10px 0px 5px 0px;;
}

mat-divider{
  margin: 20px 0px 10px 0px;
}

.sidenav-link-active{
  font-weight: bold;
}

.sidenav-links-list{
  display: flex;
  flex-direction: column;
}

.sidenav-links-list > ul {
  list-style-type: none !important;
  padding-left: 15px;
  margin: 0px;
}

.sidenav-links-list > ul > li {
  margin: 10px 0px;
}
