.sidenav-title {
  margin: 10px 0px 0px 0px;
  font-size: 2rem;
  font-family: "Rawson Bold", serif;
  color: #FF4E71;
}

.sidenav-subtitle {
  margin: 0px;
  font-size: 1.1rem;
  font-family: "Lato Italic", serif;
}

mat-divider {
  margin: 20px 0px 10px 0px;
}

.sidenav-link-active {
  font-weight: bold;
}

.sidenav-links-list {
  display: flex;
  flex-direction: column;
}

.sidenav-links-list > ul {
  list-style-type: none !important;
  padding-left: 15px;
  margin: 0px;
}

.sidenav-links-list > ul > li {
  margin: 10px 0px;
}
