p.card-lt-text {
  font-size: 0.8rem;
}

mat-divider.card-divider {
  margin: 20px 0px;
}

.zero-answers-message {
  text-align: center;
}

.question-comments-container {
  margin: 0px 30px;
}

.vote-buttons-container {
  font-size: 0.7rem;
}
