<div class="flex-container">

  <div class="fixed-nav-item"
       [ngClass]="{'fix-nav-item-selected': selectedNavItem === 'dashboard'}"
       (click)="onToggleClick('dashboard')">
    <button mat-icon-button >
      <mat-icon>dashboard</mat-icon>
    </button>
  </div>

  <div class="fixed-nav-item"
       [ngClass]="{'fix-nav-item-selected': selectedNavItem === 'user'}"
       (click)="onToggleClick('user')">
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <div class="fixed-nav-item"
       [ngClass]="{'fix-nav-item-selected': selectedNavItem === 'classroom'}"
       (click)="onToggleClick('classroom')">
    <button mat-icon-button>
      <i class="fas fa-chalkboard-teacher"></i>
    </button>
  </div>

  <div class="fixed-nav-item">
    <button mat-icon-button
            class="logout-button"
            (click)="onLogoutClick()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>

</div>
