mat-expansion-panel {
  margin-bottom: 5px;
}

mat-divider {
  margin-top: 16px;
}

.upload-body {
  margin: 0;
  font-family: "Lato Regular", serif;
}

.list-header-container {
  position: relative;
}

button.download-button {
  position: absolute;
  top: 4px;
  right: 0;
  color: #333333;
  font-size: 1.1rem;
}

.fa-file-download {
  font-size: 1.1rem;
}

.files-list-subheader {
  font-family: "Product Sans Regular", serif !important;
}
