<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="pc-text-psr">
      {{ upload.title }} &nbsp;
    </mat-panel-title>
    <mat-panel-description class="pc-text-psi">
      {{ upload.files.length }} file(s)
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p class="card-lt-text upload-body">
    {{ upload.body }}
  </p>

  <mat-divider></mat-divider>


  <div class="files-list-container">
    <mat-list>
      <div class="list-header-container">
        <h3 class="files-list-subheader" mat-subheader>Files</h3>
        <button (click)="onDownloadClick(upload.id, upload.title)" class="download-button" mat-icon-button><i
          class="fas fa-file-archive"></i></button>
      </div>
      <mat-list-item *ngFor="let file of upload.files">
        <mat-icon mat-list-icon><i class="far fa-file"></i></mat-icon>
        <h4 class="pc-text-psr" mat-line>{{file.originalName}}</h4>
        <p class="pc-text-li" mat-line> {{file.size}} bytes</p>
        <button (click)="onDownloadFileClick(file.id, file.originalName)" mat-icon-button><i
          class="fas fa-file-download"></i></button>
      </mat-list-item>
    </mat-list>
  </div>
</mat-expansion-panel>
