<div class="flex-column">

  <div class="user-details">
    <h2
      class="sidenav-title">{{ (profileObservable | async).MasterUserPersonal.firstName + " " + (profileObservable | async).MasterUserPersonal.lastName}}</h2>
    <p class="sidenav-subtitle">{{ (profileObservable | async).typeOfUser }}</p>

  </div>

  <mat-divider></mat-divider>

  <div class="sidenav-links-list">
    <ul>
      <li><a routerLink="/profile" routerLinkActive="sidenav-link-active">Profile</a></li>
      <li><a routerLinkActive="/settings" routerLinkActive="sidenav-link-active">Settings</a></li>
    </ul>
  </div>

</div>
