<ng-container *ngIf="($announcements | async) as announcements; else loading">

  <mat-card class="announcements-header-card">
    <h3 class="card-title pc-text-rb pc-text-pink text-center">Announcements</h3>
    <ng-container *ngIf="($currentClassroomDetails | async) as currentClassroomDetails; else loading">

      <p class="card-subtitle pc-text-psr text-center">{{currentClassroomDetails.subject}}
        | {{ currentClassroomDetails.name}}</p>

    </ng-container>

    <button *ngIf="userIsTeacher" class="new-announcement-button" mat-icon-button routerLink="new">
      <mat-icon>
        add_circle
      </mat-icon>
    </button>

    <ng-container *ngIf="announcements.length === 0">
      <br>
      <p class="pc-text-li card-subtitle text-center">
        There are no announcements made in this classroom
      </p>
    </ng-container>

  </mat-card>
  <br>

  <app-announcement-card
    *ngFor="let announcement of announcements"
    [announcement]="announcement">
  </app-announcement-card>

</ng-container>

<ng-template #loading>
  <p class="card-subtitle pc-text-li text-center">Loading...</p>
</ng-template>
