<h3 class="card-title">Add an event</h3>
<br>
<form [formGroup]="createEventForm" class="flex-column">
  <mat-form-field>
    <input
      matInput
      formControlName="title"
      placeholder="Title"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Start date"
      [matDatepicker]="startDatePicker"
      formControlName="start"
      required>
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="startTime"
           required [ngxTimepicker]="toggleStartTimepicker" [disableClick]="true" placeholder="Start time" readonly>
    <ngx-material-timepicker-toggle matSuffix [for]="toggleStartTimepicker"></ngx-material-timepicker-toggle>
    <ngx-material-timepicker #toggleStartTimepicker></ngx-material-timepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="End date"
      [matDatepicker]="endDatePicker"
      formControlName="end">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [ngxTimepicker]="toggleEndTimepicker" [disableClick]="true" placeholder="End time"
           formControlName="endTime" readonly>
    <ngx-material-timepicker-toggle matSuffix [for]="toggleEndTimepicker"></ngx-material-timepicker-toggle>
    <ngx-material-timepicker #toggleEndTimepicker></ngx-material-timepicker>
  </mat-form-field>

  <mat-form-field>
    <textarea formControlName="body" placeholder="Body (optional)" matInput></textarea>
  </mat-form-field>

  <button mat-button [disabled]="!createEventForm.valid" (click)="onEventSubmit()">
    CREATE
  </button>

</form>
