<div class="profile-container">

  <div *ngIf="profile$ | async as profile; else profileLoading">
    <mat-card class="flex-column profile-main">
      <mat-card-title class="pc-text-rb pc-text-pink">{{ profile.personalDetails | userFullName }}</mat-card-title>

      <mat-card-subtitle class="pc-text-li">{{ profile.typeOfUser }}</mat-card-subtitle>
    </mat-card>
    <div class="flex-column profile-details">
      <mat-card class="profile-personal">
        <p><i class="fas fa-birthday-cake"></i> &nbsp; {{ profile.personalDetails.dateOfBirth | date:'longDate'}}</p>
        <p><i class="fas fa-genderless"></i> &nbsp; {{ profile.personalDetails.gender }}</p>
      </mat-card>
      <mat-card class="profile-contact">
        <p><i class="fas fa-mobile-alt"></i> &nbsp; {{ profile.contactDetails.phoneNumber }}</p>
        <p *ngIf="profile.contactDetails.alternateNumber"><i class="fas fa-mobile"></i>
          &nbsp; {{ profile.contactDetails.alternateNumber }}</p>
        <p><i class="fas fa-map-marker-alt"></i> &nbsp; {{ profile.contactDetails.address }}</p>
        <p><i class="fas fa-at"></i> &nbsp; {{ profile.contactDetails.email }}</p>
      </mat-card>
    </div>
  </div>

  <ng-template #profileLoading>
    Loading...
  </ng-template>


</div>
