<div class="profile-container">

  <mat-card>

    <mat-card-title>{{ (profile$ | async).MasterUserPersonal.firstName +
    ' ' + (profile$ | async).MasterUserPersonal.lastName }}</mat-card-title>

    <mat-card-subtitle>{{ (profile$ | async).typeOfUser }}</mat-card-subtitle>

    <hr>

    <mat-card-content>

      <p> {{ (profile$ | async).MasterUserPersonal.dateOfBirth }}</p>
      <p> {{ (profile$ | async).MasterUserPersonal.gender }}</p>

    </mat-card-content>

    <hr>

    <p> {{ (profile$ | async).MasterUserContact.phoneNumber }}</p>
    <p> {{ (profile$ | async).MasterUserContact.alternateNumber }}</p>
    <p> {{ (profile$ | async).MasterUserContact.address }}</p>
    <p> {{ (profile$ | async).MasterUserContact.email }}</p>

  </mat-card>

</div>
