.flex-container {
  display: flex;
  height: 100%;
}

.logo-container {
  text-align: center;
  margin: 40px;
}

.pc-logo {
  width: 300px;
  height: auto;
}

.content-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

mat-card {
  padding: 70px 40px;
}

mat-card > button {
  align-self: center;
}

mat-card-title,
mat-card-subtitle {
  width: 100%;
  text-align: center;
}

mat-card-subtitle {
  margin-top: 20px !important;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0px 20px;
}

.not-registered-message {
  font-size: 1.1rem;
}

//media queries

@media screen and (max-width: 420px) {
  mat-card {
    padding: 35px 20px;
  }
}
