.flex-container {
  display: flex;
  height: 100%;
}

mat-card {
  display: flex;
  margin: auto;
  flex-direction: column;
}

mat-card > button {
  align-self: center;
}

mat-card-title,
mat-card-subtitle {
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0px 20px;
}
