//.pc-signup-card{
//  width: 90%;
//  margin: auto;
//}

//todo: add all styles that are global to global stylings

.pc-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.pc-radio-button {
  margin: 7px;
}

.pc-stepper-buttons {
  margin-top: 10px;
}

//////////////////

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 15px 0px;
}

mat-label {
  margin: 10px 0px;
}
