<h1 class="pc-text-rb pc-text-pink text-center">Join a classroom</h1>
<div class="flex-row">
  <form (ngSubmit)="onClasscodeSubmit()" [formGroup]="classcodeForm" class="join-classroom-form">
    <mat-form-field>
      <input
        matInput
        formControlName="classcodeInput"
        type="text"
        placeholder="Enter classcode here"
        required
        #classcodeInput>

      <mat-hint>This is provided by your teacher</mat-hint>
    </mat-form-field>
    <br>
    <div mat-dialog-actions>
      <button [disabled]="!classcodeForm.valid"
              class="pc-btn">Join
      </button>
      <button class="pc-btn" mat-dialog-close
              type="button">Cancel
      </button>
    </div>
  </form>
</div>
