<h1 mat-dialog-title>Join a classroom</h1>
<div>
  <p>Enter the classcode</p>
  <form [formGroup]="classcodeForm" (ngSubmit)="onClasscodeSubmit()">
    <mat-form-field>
      <input
        matInput
        formControlName="classcodeInput"
        type="text"
        placeholder="Class code"
        required
        #classcodeInput>

      <mat-hint>This is provided by your teacher</mat-hint>
    </mat-form-field>
    <br>
    <br>
    <div mat-dialog-actions>
      <button mat-button
      [disabled]="!classcodeForm.valid">JOIN</button>
      <button type="button"
              mat-button
              mat-dialog-close>CANCEL</button>
    </div>
  </form>
</div>
