.answerer {
  font-size: 0.7rem;
}

.answer-comments-container {
  margin: 0px 30px;
}

.answer-divider {
  position: relative;
}

.vote-buttons-container {
  font-size: 0.8rem;
}

.answer-container {
  position: relative;
}

.is-answered-star {
  position: absolute;
  top: 30px;
  right: 20px;
}
