.comment-body {
  font-size: 0.8rem;
}

.comment-author {
  font-size: 0.7rem;
}

.comment-divider {
  position: relative;
}

div.discussion-comment:not(:last-child) > .comment-divider {
  display: none;
}
