mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  justify-content: center;
  background-color: white;

  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 75px;
  justify-content: center;
}

.pc-logo {
  height: 70px;
  width: auto;
  margin-top: 8px;
}
