<ng-container
  *ngIf="(eventsObs$ | async) as eventsObs; else loading"
>
  <mat-card>
    <h3 class="card-title text-center">
      Classroom calendar
    </h3>
    <p class="card-subtitle text-center">{{eventsObs.classroomDetails.subject}}
      | {{eventsObs.classroomDetails.name}}</p>
    <br>
    <mat-divider></mat-divider>
    <br>
    <p class="card-subtitle text-center">
      Click on a date or select multiple dates to add an event
    </p>
  </mat-card>
  <br>
  <div class="mat-elevation-z5 calendar-container">
    <p-fullCalendar [events]="eventsObs.events" [options]="options"
    ></p-fullCalendar>
  </div>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
