<ng-container
  *ngIf="(eventsObs$ | async) as eventsObs; else loading"
>
  <mat-card>
    <h3 class="card-title text-center pc-text-rb pc-text-pink">
      Classroom calendar
    </h3>
    <p class="card-subtitle text-center pc-text-psr">{{eventsObs.classroomDetails.subject}}
      | {{eventsObs.classroomDetails.name}}</p>
    <br>
    <mat-divider></mat-divider>
    <br>
    <p *ngIf="!canUserSelect; else studentMessage" class="card-subtitle text-center pc-text-li">
      Click on a date or select multiple dates to add an event
    </p>
    <ng-template #studentMessage>
      <p class="card-subtitle text-center pc-text-li">
        Click on an event to see more details
      </p>
    </ng-template>
  </mat-card>
  <br>
  <div class="mat-elevation-z5 calendar-container">
    <p-fullCalendar [events]="eventsObs.events" [options]="options"
    ></p-fullCalendar>
  </div>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
