<h2 class="sidenav-title">
  Classrooms
</h2>

<button
  class="new-class-button"
  type="button"
  tabindex="-1"
  (click)="onNewClassroomClick()"
  mat-icon-button>
  <mat-icon>add_circle</mat-icon>
</button>

<p class="sidenav-subtitle">Your classrooms</p>

<mat-divider></mat-divider>

<div *ngIf="(classroomsObservable | async) as classrooms; else classroomsLoading">
  <app-classroom-menu-card
    *ngFor="let classroom of classrooms"
    [classroom]="classroom"
    (click)="onClassroomClick(classroom.id)"
  ></app-classroom-menu-card>
</div>

<ng-template #classroomsLoading>Loading...</ng-template>
