<div class="create-classroom-container">

  <mat-card class="create-classroom-card pc-card-border-sm">

    <mat-card-title class="pc-text-rb pc-text-pink">Create a classroom</mat-card-title>
    <mat-card-subtitle class="pc-text-li">Fill in the details for the classroom you want to create</mat-card-subtitle>

    <form [formGroup]="createClassroomForm">

      <mat-form-field>

        <input
          formControlName="classroomName"
          matInput
          placeholder="Classroom name"
          required>

        <mat-hint>Pick something creative!</mat-hint>
        <mat-error>This field is required</mat-error>

      </mat-form-field>

      <mat-form-field>

        <input
          formControlName="classroomSubject"
          matInput
          placeholder="Classroom subject"
          required>

        <mat-hint>A short description of what
          your class is all about.
        </mat-hint>
        <mat-error>This field is required</mat-error>

      </mat-form-field>

      <button
        (click)="onCreateClassroomClick()"
        [disabled]="!createClassroomForm.valid"
        class="pc-btn">Create
      </button>

    </form>

  </mat-card>

</div>
