// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Frontend-primary: mat-palette($mat-indigo);
$Frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Frontend-theme: mat-light-theme(
    $Frontend-primary,
    $Frontend-accent,
    $Frontend-warn
);

// Include theme styles for core-feature and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Frontend-theme);

/* You can add global styles to this file, and also import other style files */

//Global style for the html page and the body

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

//quick responsive type classes

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
}

//anchor global styles

a {
  text-decoration: none;
  color: #000;
}

.cursor-pointer {
  cursor: pointer;
}

//Toast message global styles and fixes

.mat-snack-bar-handset {
  width: auto !important;
}

#cdk-overlay-0.cdk-overlay-pane {
  width: auto !important;
  //makes sure the snackbar is always centered and has a width as much as of the content
}

snack-bar-container.mat-snack-bar-container {
  margin-bottom: 30px !important;
  text-align: center !important;
  min-width: auto;
  max-width: fit-content;
  //adjusts the snackbar and places it 30px from the bottom
}

.snack-bar-align-span-center > simple-snack-bar {
  justify-content: center;
  padding: 0px 20px;
}

//text-classes

.text-center {
  text-align: center !important;
}

//scrollbars

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}

//card-styles

.card {
  display: flex;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 0px;
  font-weight: 500;
  font-size: 1.5rem;
}

.card-subtitle {
  margin: 7px 0px;
  color: rgba(0, 0, 0, 0.54);
}

.card-lt-text {
  color: rgba(0, 0, 0, 0.54);
}

.card-dk-text {
  color: #000;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-footer {
  display: flex;
  flex-direction: column;
}

mat-divider.card-divider {
  margin: 20px 0px;
  position: relative;
}

//votes colors

.vote-button-selected {
  color: #7554A3;
}

//calendar styles

.fc-event-container {
  cursor: pointer;
}


//upload component styles

.ui-button {
  background-color: #7554A3 !important;
}
