<mat-card>

  <h3 class="card-title">{{ discussion.topic }}</h3>
  <p [innerHTML]="discussion.body" class="card-subtitle"></p>
  <br>
  <mat-divider></mat-divider>

  <p class="card-lt-text">Started by {{discussion.author.personalDetails | userFullName }}
    on {{ discussion.createdAt | date:'MMMM d, y, h:mm:ss a'}}</p>
</mat-card>

<mat-divider class="card-divider"></mat-divider>

<div *ngIf="discussion.discussionPosts.length > 0; else zeroPostsMessage">
  <app-discussion-posts-card *ngFor="let discussionPost of discussion.discussionPosts"
                             [discussionPost]="discussionPost"
  ></app-discussion-posts-card>
</div>
<ng-template #zeroPostsMessage>
  <p class="card-subtitle zero-posts-message">There are no posts in this discussion yet. Be the first one!</p>
</ng-template>


