<div class="comment-input">
  <mat-form-field appearance="outline">
    <mat-label>Add a comment</mat-label>
    <input [(ngModel)]="questionComment" matInput name="comment" placeholder="Type here...">
    <button (click)="onCommentClick(questionId)" [disabled]="questionComment.length === 0" mat-icon-button matSuffix>
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
  <!--todo: input field should get cleared after submitting comment
    USE ngForm for all comment inputs
  -->
</div>
